// Satoshi
@font-face {
	font-family: 'Satoshi';
	src:
		url('./assets/style/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
		url('./assets/style/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
		url('./assets/style/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi';
	src:
		url('./assets/style/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
		url('./assets/style/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff'),
		url('./assets/style/fonts/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: italic;
}

// Newyork
@font-face {
	font-family: 'Newyork';
	src:
		url('./assets/style/fonts/newyork/NewYork.ttf'),
		url('./assets/style/fonts/newyork/NewYorkItalic.ttf');
	font-display: swap;
}

// Metropolis

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-Thin.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-ThinItalic.otf');
	font-weight: 100;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-ExtraLight.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-ExtraLightItalic.otf');
	font-weight: 200;
}

@font-face {
	font-family: 'Metropolis';
	src: url('./assets/style/fonts/metropolis/Metropolis-Light.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-LightItalic.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-Regular.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-RegularItalic.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-Medium.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-MediumItalic.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-SemiBold.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-SemiBoldItalic.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-Bold.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-BoldItalic.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-ExtraBold.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-ExtraBoldItalic.otf');
	font-weight: 800;
}

@font-face {
	font-family: 'Metropolis';
	src:
		url('./assets/style/fonts/metropolis/Metropolis-Black.otf'),
		url('./assets/style/fonts/metropolis/Metropolis-BlackItalic.otf');
	font-weight: 900;
}