$xxl: 1280px;
$xl: 1150px;
$lg: 1024px;
$xmd: 992px;
$md: 768px;
$sm: 576px;
$xs: 450px;

@mixin xxl {
	@media (max-width: $xxl) {
		@content;
	}
}

@mixin xl {
	@media (max-width: $xl) {
		@content;
	}
}

@mixin lg {
	@media (max-width: $lg) {
		@content;
	}
}

@mixin xmd {
	@media (max-width: $xmd) {
		@content;
	}
}

@mixin md {
	@media (max-width: $md) {
		@content;
	}
}

@mixin sm {
	@media (max-width: $sm) {
		@content;
	}
}

@mixin xs {
	@media (max-width: $xs) {
		@content;
	}
}

@mixin break($max-width) {
	@media (max-width: $max-width) {
		@content;
	}
}

$yellow: #FFB400;