html,
body {
	margin: 0;
	padding: 0;
	// background: #1B1B1B;
	background: #1e1e1e;
	font-family: 'Satoshi';
	color: white;

	&::-webkit-scrollbar {
		display: none;
	}
}

* {
	box-sizing: border-box;
}

svg {
	box-sizing: unset;
}

.strip-list {
	list-style: none;
	padding: 0;

	a {
		text-decoration: none;
		color: inherit;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

// * {
// 	outline: 1px solid yellow;
// }

.layout-box {
	width: 95%;
	max-width: 1569px;
	margin: 0 auto;
	position: relative;

	&.read-canvas {
		max-width: 700px;
	}
}

#nuxt-devtools-container {
	outline: none !important;

	div,
	span {
		outline: none !important;
	}
}

.noverflow {
	overflow: hidden;
}

.text-block {
	display: inline-block;
}

// Horizontal Text Slider
$text-color: black;
$text-color-white: white;
$dot-radius: 2vw;

.h-slide-text {
	&.white {
		color: $text-color-white;

		span.center-dot::after {
			background: $text-color-white;
		}
	}

	user-select: none;
	font-size: 14vw;
	line-height: 14vw;
	font-weight: 600;
	color: $text-color;
	font-family: 'Metropolis';
	display: flex;


	span {
		margin: 0 2vw;

		&.center-dot {
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				height: $dot-radius;
				width: $dot-radius;
				background: $text-color;
				border-radius: 45%;
			}
		}
	}
}

.w-100 {
	width: 100%;
}

.clearfix {

	&::after,
	&::before {
		content: '';
		display: table;
		content: ''
	}
}

.bg-black {
	background: black;
}


// Blog Card
.tiny-tag {
	display: flex;

	background: rgba(255, 255, 255, 0.15);
	padding: 3px 10px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 20px;

	&.author {
		margin-right: 10px;
	}

	.tag-author-img {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 10px;
		display: block;
	}
}